<%= form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :userid, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :userid, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :age, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :birthday, :class => 'control-label' %>
    <div class="controls">
      

      <%= f.date_select :birthday, :start_year => 1880, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :NRCNo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NRCNo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Gender, :class => 'control-label' %>
    <div class="controls">
      <!--<%= f.text_field :Gender, :class => 'text_field' %>-->
      <%= f.radio_button :Gender,'Male' %><%= f.label :gender,'Male' %>
    <%= f.radio_button :Gender,'Female' %><%= f.label :gender,'Female' %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :specialize, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :specialize, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phno, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :phno, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :travelfee, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :travelfee, :class => 'number_field' %>
    </div>
  </div>
  <!--<div class="control-group">
    <%= f.label :entryyear, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :entryyear, :class => 'number_field' %>
    </div>
  </div>-->
  <div class="control-group">
    <%= f.label :entrydate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :entrydate, :start_year => 1880, :class => 'date_select' %>
    </div>
  </div>
  
  <!--<div class="control-group">
    <%= f.label :encrypted_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :encrypted_password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reset_password_token, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reset_password_token, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reset_password_sent_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :reset_password_sent_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :remember_created_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :remember_created_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_sign_in_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :current_sign_in_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_sign_in_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :last_sign_in_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_sign_in_ip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_sign_in_ip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_sign_in_ip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_sign_in_ip, :class => 'text_field' %>
    </div>
  </div>-->

  <!--<div class="form-actions">-->
    <p align=center><%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                employees_path, :class => 'btn' %></p>
  <!--</div>-->
<% end %>
